.main {
  margin: 0 auto 60px;
  width: 740px;
  max-width: 90%;
  display: grid;
  grid-template-areas:
    "input count"
    "results results";
  grid-template-columns: 2fr 1fr;
  grid-gap: 40px;
}

@media (max-width: 700px) {
  .main {
    grid-template-areas: "input" "count" "results";
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
}

.content__count {
  grid-area: count;
  display: flex;
  align-items: flex-end;
  color: var(--main);
  font-size: 17px;
}

.results {
  grid-area: results;
  /*width: 100%;*/
}

.results__list {
  list-style: none;
  margin: 0;
  padding: 0;
  /*width: 100%;*/
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 40px;
}
