:root {
  --lightgray: #c4c4c4;
  --middlegray: #989898;
  --darkgray: #5b5b5b;
}

.header {
  width: 100%;
  height: 80px;
  background-color: var(--middlegray);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.header__logo {
  color: white;
  font-size: 30px;
  margin-left: 40px;
}

.content {
  margin-top: 140px;
}
